Language : Cpp
BasedOnStyle: LLVM
BreakBeforeBraces : Linux
IndentWidth: 4
TabWidth : 4
UseTab : Always
ColumnLimit : 150

SortIncludes: true
AllowShortIfStatementsOnASingleLine : false
AllowShortFunctionsOnASingleLine : false
AlwaysBreakAfterReturnType : None
AlignAfterOpenBracket : Align
AlignOperands : true
AlignTrailingComments : true
IndentCaseLabels : true
SpaceAfterCStyleCast : true
